.div-head {
    background-color: darkcyan;
    height: 35px;
}

.topnav {
    overflow: hidden;
    height: 33px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.dropbtn {
    background-color: aliceblue;
    border: 8px;
    color: black;
    width: 40px;
    height: 20px;
    padding: 3px;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(155, 161, 167);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: aquamarine;
}


/* row*/

.gallery {
    clear: both;
    display: flex;
    /*border: 2px solid black;*/
}


/*
img {
    width: 20%;
    height: 20%;
}
*/


/*column */

.image {
    flex: 30%;
    padding: 15px;
    border: 2px solid black;
    height: 600px;
}

#btn {
    font-size: 12px;
    width: 45px;
    margin-left: 350px;
}

#txt {
    font-size: 45px;
}

.filter {
    background-color: #005f92;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.filter:hover,
filter:focus {
    background-color: #004469;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd
}

.filter {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}